<ion-view hide-nav-bar="true"  title="">
  <ion-header class="bar bar-custom bar-header">
      <a class="button back-button" href="{{backPath}}"><i class="icon ion-chevron-left"></i></a>
      <h1 class="title">{{'Rutas' | translate}}</h1>
  </ion-header>
  <ion-header class="bar bar-custom bar-subheader">
    <div class="poi-menu-buttons">
      <a class="item poiMenuList item-text-wrap" href="#" ng-click="poiInfo()">
        <h2 class="padding-left">{{'Info' | translate}}</h2>
      </a>
      <a class="item poiMenuList item-text-wrap" href="#" ng-click="poiMapa()">
        <h2 class="padding-left">{{'Mapa' | translate}}</h2>
      </a>
      <a class="item poiMenuList item-text-wrap" href="#" ng-click="poiOpinion()">
        <h2 class="padding-left">{{'Opiniones' | translate}}</h2>
      </a>
    </div>
  </ion-header>
  <ion-content class="has-header has-subheader">
    <ion-list>
      <div ng-repeat="poi in pois">
        <a class="item item-avatar" href="#/tab/{{poi.tipo}}/{{poi.id}}" on-hold="onHold(poi)">
          <img class="item item-image" src="{{fileSystem}}{{appDirectory}}{{appLanguage}}/{{poi.tipo}}/{{poi.mainImageApp}}">
          <h2>{{poi.name}}</h2>
          <p ng-bind-html="poi.description"></p>
          <p class="right side-note">
            {{poi.distance}}<i class="icon ion-location padding-left"></i>
          </p>
          <i class="icon" ng-class="{'ion-ios-star-outline':poiRatings[poi.id]<0.5, 'ion-ios-star-half':poiRatings[poi.id]>=0.5 && poiRatings[poi.id]<1, 'ion-ios-star':poiRatings[poi.id]>=1}"></i>
          <i class="icon" ng-class="{'ion-ios-star-outline':poiRatings[poi.id]<1.5, 'ion-ios-star-half':poiRatings[poi.id]>=1.5 && poiRatings[poi.id]<2, 'ion-ios-star':poiRatings[poi.id]>=2}"></i>
          <i class="icon" ng-class="{'ion-ios-star-outline':poiRatings[poi.id]<2.5, 'ion-ios-star-half':poiRatings[poi.id]>=2.5 && poiRatings[poi.id]<3, 'ion-ios-star':poiRatings[poi.id]>=3}"></i>
          <i class="icon" ng-class="{'ion-ios-star-outline':poiRatings[poi.id]<3.5, 'ion-ios-star-half':poiRatings[poi.id]>=3.5 && poiRatings[poi.id]<4, 'ion-ios-star':poiRatings[poi.id]>=4}"></i>
          <i class="icon" ng-class="{'ion-ios-star-outline':poiRatings[poi.id]<4.5, 'ion-ios-star-half':poiRatings[poi.id]>=4.5 && poiRatings[poi.id]<5, 'ion-ios-star':poiRatings[poi.id]>=5}"></i>
          
        </a>
      </div>
    </ion-list>

  </ion-content>
</ion-view>