<div class="">
	<div class="question">
		<p>{{item.transition.question}}</p>
	</div>
	<div class="button-bar transmedia-question">
	  <a class="button button-custom transmedia-answer-button" ng-click="answer(1)">{{item.transition.answer}}</a>
	  <a class="button button-custom transmedia-answer-button" ng-click="answer(2)">{{item.transition.answer2}}</a>
	</div>
	<div class="button-bar transmedia-question">
	  <a class="button button-custom transmedia-answer-button" ng-click="answer(3)">{{item.transition.answer3}}</a>
	  <a class="button button-custom transmedia-answer-button" ng-click="answer(4)">{{item.transition.answer4}}</a>
	</div>
</div>